<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width" />
	<title>Project-Space</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/parallax.css">

	<!-- JQUERY -->
	<link rel="stylesheet" type="text/css" href="css/jquery.toast.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="libs/jquery.toast.js"></script>

	<!-- VUE -->
	<script src="https://unpkg.com/vue"></script>

	<!-- PIXI -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	<script src="libs/pixi-tilemap.js"></script>

	<script data-main="game.js" src="libs/require.js"></script>

</head>
<body>

<div id='gui' class='hidden'>

	<div v-if="state == 'auth'" class="parralaxStars">

		<div id="stars"></div>
		<div id="stars1"></div>
		<div id="stars2"></div>

		<div v-if="auth.panel == 'login'" class='panel center'>
			<h1 class='tc'>Login</h1>
			<input class='fullRow' type="text" placeholder="Username" v-model="auth.credentials.username">
			<input class='fullRow' type="password" placeholder="Password" v-model="auth.credentials.password">
			<p class='tc'>
				<button class='long' @click="auth.Login()">Access</button>
			</p>
			<p class="tc">
				<a @click='auth.panel = "register"'>Not registered yet?</a>
			</p>
		</div>

		<div v-if="auth.panel == 'register'" class='panel center'>
			<div class="panel-menu">
				<a class='right btn' @click='auth.panel = "login"'>✕</a>
			</div>
			<h1 class='tc'>Registration</h1>
			<input class='fullRow' type="text" placeholder="Username" v-model="auth.register.username">
			<input class='fullRow' type="password" placeholder="Password" v-model="auth.register.password">
			<input class='fullRow' type="password" placeholder="Repeat password" v-model="auth.register.repeatPassword">
			<p class='tc'>
				<button class='long' @click="auth.Register()">Register</button>
			</p>
			<p class="tc">
				<a @click='auth.panel = "login"'>Already have account</a>
			</p>
		</div>

	</div>

	<div v-if="state == 'loading'" class="parralaxStars">

		<div id="stars"></div>
		<div id="stars1"></div>
		<div id="stars2"></div>

		<div class='panel center tc'>
			<br>
			<br>
			<span class="spinner"></span>
			<p>Loading...</p>
		</div>
		
	</div>
	
</div>

</body>
</html>